:root {
  --primary: #BA9314;
  --black: #1B2324;
  --white: #F6F6F6;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */

  font-family: commuters-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
  color: var(--white);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* background-image: url("./images/topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
 
  background-attachment: fixed;
  letter-spacing: -1px; */

  background-color: #1B2324;
  background-image: linear-gradient(rgba(5, 8, 8, 1), rgba(5, 8, 8, 0));
  height: 100%;
  background-repeat: no-repeat;
}

*/ h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}


.itm {
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 35px;
  border: 2px solid var(--primary);

}