:root {
  --primary: #ba9314;
  --black: #1b2324;
  --white: #f6f6f6;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */

  font-family: commuters-sans, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
  color: var(--white);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--black);
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(27, 35, 36, 0) 15%,
    rgba(27, 35, 36, 0) 50%,
    rgba(14, 18, 18, 0) 85%,
    rgba(0, 0, 0, 0.7) 100%
  );
  height: 100%;
  background-repeat: no-repeat;
  font-size: 30px;
  margin: 0;
}

*/ h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

p {
  color: var(--white);
  font-family: commuters-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.6em;
  line-height: 1.7;
}

h2 {
  color: var(--primary);
  font-family: utopia-std-caption, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
  line-height: 1.5;
}

h3 {
  color: rgba(255, 255, 255, 0.35);
  font-family: commuters-sans, sans-serif;
  text-transform: uppercase;
  font-size: 0.45em;
  line-height: 2.5;
  letter-spacing: 0.3em;
}

h4 {
  color: var(--primary);
  font-family: utopia-std-caption, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.7em;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.35);
  cursor: alias;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-image: url('./images/pattern1.png');
  background-repeat: no-repeat;
  background-position: top right;
}

/* logo header section */
.header {
  margin: 200px 0;
  padding-left: 150px;
}

.logo {
  width: 500px;
}

/* content section 1 */
.section-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding-left: 150px;
}

.section-1-title {
  width: 50%;
}

.section-1-content {
  margin-left: 500px;
  padding-right: 150px;
}

/* infograph content section 2 */
.section-2 {
  background: linear-gradient(to left, #0d0d0d4d 85%, #ffffff00 50%);
  padding-bottom: 100px;
  margin: 100px 0;
  padding-left: 150px;
}

.infograph-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 200px;
}

.pie-chart {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.pie-chart-img {
  /* width: 500px; */
}

.legend {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-left: 75px;
  justify-content: center;
}

.legend-halfcircle {
  width: 30px;
  margin-right: 20px;
}

/* content section 3 */
.section-3 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.section-3-title {
  width: 70%;
  padding-left: 150px;
}

.section-3-content {
  margin-left: 500px;
  padding-right: 150px;
}

/* CTA content */

.section-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 200px;
  padding-left: 50px;
  background-image: url('./images/pattern2.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.section-4-content {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-top: 300px;
}

.span {
  color: var(--white);
  font-family: commuters-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.5em;
  line-height: 1.7;
  padding-left: 40px;
  letter-spacing: 3px;
}

@media (max-width: 1420px) {
  .section-1 {
  }

  .section-1-title {
    width: 80%;
  }

  .section-1-content {
    margin-left: 300px;
    padding-right: 150px;
  }
}
